<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
      }

      span {
        margin: 10px 0;
        display: block;
      }

      strong {
        margin: 10px 0;
        display: block;
      }
    </style>

  </head>
  <body>
    <div class="container">
      <span>Oi, {{name}}</span>

      <span>Para realizar a recuperação de senha, informe o seguinte código no aplicativo:</span>

      <strong>{{token}}</strong>

      <span>O código tem duração de 1 hora. Caso o mesmo expire, solicite outro código.</span>

      <span>Se não você quem solicitou a recuperação de senha, basta ignorar este e-mail.</span>

      <span>App&Hold</span>
    </div>
  </body>
</html>


